absl-py
attrs
bleach
certifi
cffi
chardet
click
configparser
coverage
cryptography
cycler
docker-pycreds
docutils
gitdb
GitPython
gql
graphql-core
hypothesis
idna
jax
-e git+git@github.com:manuel-delverme/fax.git@274a10691aa6a87210c6002414f7d2f0dbed9d35#egg=jax_fixedpoint
jaxlib
jeepney
joblib
keyring
kiwisolver
matplotlib
more-itertools
numpy
nvidia-ml-py3
opt-einsum
packaging
pathtools
pkginfo
pluggy
promise
protobuf
psutil
py
pycparser
Pygments
pyparsing
pytest
pytest-pycharm
python-dateutil
PyYAML
readme-renderer
requests
requests-toolbelt
scikit-learn
scipy
SecretStorage
sentry-sdk
shortuuid
six
sklearn
smmap
sortedcontainers
subprocess32
tensorboardX
threadpoolctl
tqdm
twine
urllib3
wandb
watchdog
wcwidth
webencodings
